/*not mobile*/
body {
    background-color: yellow;
}

/*mobile*/
@media only screen and (max-width: 100vh) {
    body {
        background-color: lightblue;
    }
}

/*styling classes*/
.fixed{
    position:fixed;
}
.top{
    top:0;
}
.bottom{
    bottom:0;
}
.right{
    right:0;
}
.left{
    left:0;
}
.icon-menu{
    border:0;
    height:6.5vh;
    width:6.5vh;
    border-radius:6.5vh;
    background: url("https://d30y9cdsu7xlg0.cloudfront.net/png/604152-200.png") no-repeat fixed center; 
    background-size:6.5vh 6.5vh ;
}
.taskbar{
    width:100vw;
    height:6.5vh;
    background-color:green;
}
