/*not mobile*/
body {
    background-color: white;
}

/*mobile*/
/*Detection Unnecessary*/
/*
@media only screen and (max-width: 100vh) {
    body {
        background-color: pink;
    }
}
*/

/*styling classes*/
.fixed{
    position:fixed;
}
.top{
    top:0;
}
.bottom{
    bottom:0;
}
.right{
    right:0;
}
.left{
    left:0;
}
.icon-menu{
    position:fixed;
    top:0;
    left:0;
    z-index:1;
    border:0;
    height:6.5vh;
    width:6.5vh;
    border-radius:6.5vh;
    background: url("https://image.flaticon.com/icons/svg/149/149719.svg");
    background-size: 6.5vh 6.5vh;
}
.icon-new{
    position:fixed;
    top:0;
    right:0;
    z-index:1;
    border:0;
    height:6.5vh;
    width:6.5vh;
    border-radius:6.5vh;
    background: url("https://image.flaticon.com/icons/svg/32/32360.svg");
    background-size: 6.5vh 6.5vh;
}
.menu{
    position:fixed;
    top:0;
    left:0;
    z-index:3;
/*    border:1px solid rgba(255, 255, 255, 0.8);*/
    width:6.5vh;
    height:6.5vh;
    background-color:transparent;/*rgba(255, 255, 255, 0.5);*/
    transition-duration:0.25s;
    transition:0.25s
}
.menu:focus{
    top:6.5vh;
    position:absolute;
    background-color:rgba(108, 122, 137, 0.5);
    width:100vw;
    height:93.5vh;
    z-index:2;
}
.new{
    position:fixed;
    top:0;
    right:0;
    z-index:3;
/*    border:1px solid rgba(255, 255, 255, 0.8);*/
    width:6.5vh;
    height:6.5vh;
    background-color:transparent;/*rgba(255, 255, 255, 0.5);*/
    transition-duration:0.25s;
    transition:0.25s
}
.new:focus{
    top:6.5vh;
    position:absolute;
    background-color:rgba(108, 122, 137, 0.5);
    width:100vw;
    height:93.5vh;
    z-index:2;
}
.taskbar{
    width:100vw;
    height:6.5vh;
    background-color:rgba(249, 191, 59, 1);
}
.card{
  padding-top:5vh;
  padding-bottom:5vh;
  width:70vw;
  padding-left:5vw;
  padding-right:5vw;
  margin-left:10vw;
  border:1px solid black;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.profile{
}
