/*not mobile*/
body {
    background-color: white;
}

/*mobile*/
@media only screen and (max-width: 100vh) {
    body {
        background-color: pink;
    }
}

/*styling classes*/
.fixed{
    position:fixed;
}
.top{
    top:0;
}
.bottom{
    bottom:0;
}
.right{
    right:0;
}
.left{
    left:0;
}
.icon-menu{
    border:0;
    height:6.5vh;
    width:6.5vh;
    border-radius:6.5vh;
    background: url("https://d30y9cdsu7xlg0.cloudfront.net/png/604152-200.png");
    background-size: 6.5vh 6.5vh;
}
.menu{
/*    border:1px solid rgba(255, 255, 255, 0.8);*/
    width:6.5vh;
    height:6.5vh;
    background-color:rgba(255, 255, 255, 0.5);
    transition-duration:0.25s;
    transition:0.25s
}
.menu:focus{
    background-color:rgba(108, 122, 137, 0.5);
    width:75vw;
    height:100vh;
    z-index:2;
}
.taskbar{
    width:100vw;
    height:6.5vh;
    background-color:#E9D460;
}
