<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />
<link rel="shortcut icon" type="image/x-icon" href="https://raw.githubusercontent.com/KentoNishi/kentonishi.github.io/master/favicon.ico">
<link href="/projects/templates/index.css" rel="stylesheet" type="text/css"></link>
<title>Responsive Template Demo</title>
<div class="body">
  <div class="fixed top left taskbar">
    <div class="menu" tabindex="1">
    </div>
    <div class="icon-menu">
    </div>
    <div class="new" tabindex="2">
    </div>
    <div class="icon-new">
    </div>
    <div class="profile">
      <div class="card">
        TESTING
      </div>
      <div class="card">
        TESTING
      </div>
      <div class="card">
        TESTING
      </div>
      <div class="card">
        TESTING
      </div>
      <div class="card">
        TESTING
      </div>
      <div class="card">
        TESTING
      </div>
      <div class="card">
        TESTING
      </div>
      <div class="card">
        TESTING
      </div>
      <div class="card">
        TESTING
      </div>
      <div class="card">
        TESTING
      </div>
      <div class="card">
        TESTING
      </div>
      <div class="card">
        TESTING
      </div>
      <div class="card">
        TESTING
      </div>
      <div class="card">
        TESTING
      </div>
      <div class="card">
        TESTING
      </div>
      <div class="card">
        TESTING
      </div>
      <div class="card">
        TESTING
      </div>
      <div class="five"></div>
      
    </div>
  </div>
</div>
