.taskbar{
  position:fixed;
  bottom:0;
  height:5vh;
  width:100vw;
  background-color:rgba(127, 127, 127, 0.5); 
}
.ui{
  width:100vw;
  height:100vh;
}
.buttons{
  width:200vw;
  height:10vh;
}
.button{
  position:fixed;
  bottom:0;
  width:25vw;
  height:5vh;
  border:1px solid black;
}
