/*
.taskbar{
  position:fixed;
  bottom:0;
  height:5vh;
  width:100vw;
  background-color:rgba(127, 127, 127, 0.5); 
}
*/
.ui{
  width:100vw;
  height:100vh;
}
/*
.buttons{
  width:200vw;
  height:10vh;
}
.button{
  position:fixed;
  bottom:0;
  width:25vw;
  height:4.8vh;
  border:0.1vh solid black;
  border-radius:1px;
}
*//*
.home {
    position:fixed;
    bottom:0.5vh;
    left:50%;
    transform:translate(-50%, 0);
    width:5.5vh;
    height:5.5vh;
    background: rgba(0, 0, 0, 0.25);
    border:2px solid rgba(0, 0, 0, 0.75);
    border-radius:5vh;
}
.longpress {
    -webkit-animation: 0.25s longpress;
            animation: 0.25s longpress;
}

@-webkit-keyframes longpress {
    0%, 20% { background: rgba(0, 0, 0, 0.25); }
    100% { background: rgba(0, 0, 0, 0.5); }
}

@keyframes longpress {
    0%, 20% { background: rgba(0, 0, 0, 0.25); }
    100% { background: rgba(0, 0, 0, 0.5); }
}
.start{
  border:0;
  top:0;
  left:0;
  position:fixed;
  width:100vw;
  height:92vh;
}
*/
.gesturearea{
  overflow-y:scroll;
  position:fixed;
  width:200vw;
  left:-50vw;
  height:6vh;
  bottom:0vh;
  background-color:rgba(0, 0, 0, 0.75);
  z-index:2;
}
.gesturebar{
  width:50vw;
  height:1vh;
  padding:0;
  margin-left:75vw;
  margin-top:1.25vh;
  background-color:white;
  border-radius:5px;
}
.gesturescroller{
  margin-top:3vh;
  margin-bottom:3vh;
}
.transform {
  transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
}
